.body{
	background-color:rgb(0,10,30);
	border: 15px solid black;
	border-radius:50px;
	margin:80px;
	padding:80px;
}
.box{
	background-color:silver;
}
.link{
	text-decoration: none;
	color:rgb(0,50,100);
	border: 3px solid teal;
	border-radius:50 px;
	background-color:silver;
}
.text{
	color:rgb(20,200,100);
	border: 5px outset silver;
	border-radius: 150 px;
	margin: 150 px;
}
.list{
	color:rgb(100,200,200);
	margin: 150 px;
}
.img{
	border: 10px groove aquamarine;
	border-radius: 150 px;
}
.text:hover{
	color:rgb(0,100,160);
	background-color:rgb(10,40,80);
	border-color:silver;
	border-radius:70px;
}
.link:hover{
	color:rgb(0,100,160);
	background-color:rgb(10,40,80);
	border-color:silver;
	border-radius:70px;
}
.dash:hover{
	color:rgb(0,100,160);
	background-color:rgb(10,40,80);
	border-color:silver;
	border-radius:70px;
}
.number:hover{
	color:rgb(0,100,160);
	background-color:rgb(10,40,80);
	border-color:silver;
	border-radius:70px;
}
.img:hover{
	border-color:silver;
	border-radius:70px;
}
