title{
	background-color:aqua;
	color:green;
	font-size:60px;
	font-family:Serif;
	text-align:center;
	}
p{
	background-color:green;
	color:blue;
	font-size:30px;
	font-family:Sans-Serif;
	text-align:left;
	}
